<h1>Product Catalog</h1>
<div id="products">
    <% @products_list.each do |product| %>
        <div class="product">
            <%= image_tag(product.image, style: "width: 100%; height: auto; border-radius: 4px;")%>
            <p><%= product.name %></p>
            <p><%= product.description %></p>
            <p>Price: $<%= number_with_precision(product.price, precision: 2) %></p>
        </div>
    <% end %>
</div>